<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-30">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between align-items-center mb-20">
                            <h6 class="card-title mb-0">Email Template</h6>
                            <button type="button" class="btn btn-primary waves-effect waves-light float-right mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg">Add Template</button>
                        </div>
                        <!-- recenttemplate  -->
                        <div class="recentBox">
                            <h4>Recent Template</h4>
                            <div class="row">
                                <!-- Single Contact Area -->
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="card mb-30">
                                        <div class="card-body pb-0">
                                            <div class="single-conatct-area">
                                                <div class="conatct-thumb">
                                                    <img src="img/member-img/1.png" alt="">
                                                </div>
                                                <!-- Member Info -->
                                                <div class="member-info text-center">
                                                    <h6>Jhon Deo</h6>
                                                    <p class="mb-1">jhon.deo58@gmail.com</p>
                                                    <p class="text-dark font-14">+1258964936</p>
                                                </div>
                                                <!-- Icon -->
                                                <div class="contact-social-icon d-flex justify-content-between px-4">
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Dribbble">
                                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Instagram">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- Footer -->
                                                <div class="contact-footer d-flex justify-content-between">
                                                    <a href="#">Project</a>
                                                    <a href="#">See Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- Single Contact Area -->
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="card mb-30">
                                        <div class="card-body pb-0">
                                            <div class="single-conatct-area">
                                                <div class="conatct-thumb">
                                                    <img src="img/member-img/2.png" alt="">
                                                </div>
                                                <!-- Member Info -->
                                                <div class="member-info text-center">
                                                    <h6>Jhon Deo</h6>
                                                    <p class="mb-1">jhon.deo58@gmail.com</p>
                                                    <p class="text-dark font-14">+1258964936</p>
                                                </div>
                                                <!-- Icon -->
                                                <div class="contact-social-icon d-flex justify-content-between px-4">
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Dribbble">
                                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Instagram">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- Footer -->
                                                <div class="contact-footer d-flex justify-content-between">
                                                    <a href="#">Project</a>
                                                    <a href="#">See Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                
                                <!-- Single Contact Area -->
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="card mb-30">
                                        <div class="card-body pb-0">
                                            <div class="single-conatct-area">
                                                <div class="conatct-thumb">
                                                    <img src="img/member-img/11.png" alt="">
                                                </div>
                                                <!-- Member Info -->
                                                <div class="member-info text-center">
                                                    <h6>Jhon Deo</h6>
                                                    <p class="mb-1">jhon.deo58@gmail.com</p>
                                                    <p class="text-dark font-14">+1258964936</p>
                                                </div>
                                                <!-- Icon -->
                                                <div class="contact-social-icon d-flex justify-content-between px-4">
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Dribbble">
                                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Instagram">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- Footer -->
                                                <div class="contact-footer d-flex justify-content-between">
                                                    <a href="#">Project</a>
                                                    <a href="#">See Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- Single Contact Area -->
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="card mb-30">
                                        <div class="card-body pb-0">
                                            <div class="single-conatct-area">
                                                <div class="conatct-thumb">
                                                    <img src="img/member-img/12.png" alt="">
                                                </div>
                                                <!-- Member Info -->
                                                <div class="member-info text-center">
                                                    <h6>Jhon Deo</h6>
                                                    <p class="mb-1">jhon.deo58@gmail.com</p>
                                                    <p class="text-dark font-14">+1258964936</p>
                                                </div>
                                                <!-- Icon -->
                                                <div class="contact-social-icon d-flex justify-content-between px-4">
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Dribbble">
                                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Instagram">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- Footer -->
                                                <div class="contact-footer d-flex justify-content-between">
                                                    <a href="#">Project</a>
                                                    <a href="#">See Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0 font-16" id="myLargeModalLabel">Add New Email Template</h5><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row" style="display: block;">
                                <div class="pl-2 pr-2">
                                    <div class="form-group"><label for="LeadName">Email Template Title</label> <input type="text" style="width: 100%" class="form-control" id="LeadName" required=""></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="pl-2 pr-2">
                                    <div class="form-group"><label for="LeadEmail">Email</label> <angular-editor [placeholder]="'Enter text here...'" ></angular-editor></div>
                                </div>
                            </div>
                        <button type="button" class="btn btn-sm btn-primary">Save</button> <button type="button" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>
    