<app-navbartop></app-navbartop>
<div class="container-fluid page-body-wrapper">
    <!-- Side Menu area -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">
                    <i class="fa-sharp fa-solid fa-database mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">Dashboard</span>
                </a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">
                    <i class="fa-sharp fa-solid fa-file mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">Template</span>
                </a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">                 
                    <i class="fa-solid fa-envelopes mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">Email Template</span>
                </a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">
                    <i class="fa-solid fa-briefcase mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">Task</span>
                </a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">
                    <i class="fa-sharp fa-solid fa-clock-rotate-left mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">History</span>
                </a>
            </li>

            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">
                    <i class="fa-regular fa-users mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">Manage Users</span>
                </a>
            </li>
            
            <li class="nav-item ">
                <a class="nav-link" href="index.html">
                    <i class="fa-sharp fa-solid fa-gears mr-2" style="font-size: 20px;"></i>
                    <span class="menu-title pt-1">Setting</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- partial -->
    <div class="main-panel">
        <router-outlet></router-outlet>
    </div>
</div>